div
<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="onboarding-text-primary">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div
            class="flex justifty-start itempt-center onboarding-text-accent-0 q-mt-sm q-mb-lg z gt-xs"
          >
            <q-btn
              color="black"
              @click="$router.go(-1)"
              round
              dense
              flat
              icon="arrow_back"
            />
            <h5 class="text-25 text-teal-6 text-semibold q-my-none q-ml-sm">
              Create New Task
            </h5>
          </div>
          <q-form greedy @submit="addNewTodo()">
            <div class="q-mt-md">
              <label class="q-ml-xs"
                >Task Title<span class="validation-red">*</span></label
              >
              <q-input
                dense
                borderless
                v-model="task_title"
                placeholder="Task Name"
                :rules="[(val) => (val !== null && val !== '') || '']"
                hide-bottom-space
                class="onboarding-input-field standard onboarding-border-accent-0 onboarding-border-radius-10 q-mt-sm"
              />
            </div>

            <div v-for="(task, index) in form" :key="index">
              <div
                class="onboarding-border-accent-0 onboarding-border-radius-15 q-px-md q-py-sm q-mt-md standard-form-width"
              >
                <!-- THIS IS DELETE BUTTON OF CREATE TO DO  -->

                <q-expansion-item dense dense-toggle expand-separator>
                  <template v-slot:header="{ expanded }">
                    <div style="margin-left: 190px">
                      <q-item-section v-if="!expanded" side @click.stop>
                      </q-item-section>
                      <q-item-section v-else side @click.stop>
                        <q-btn
                          flat
                          class="text-teal q-pa-none"
                          size="12px"
                          title="Delete"
                          icon="iconfont icon-delete-fill"
                          @click="
                            route.params.id
                              ? openDialog(index)
                              : removeTodo(index)
                          "
                        />
                      </q-item-section>
                    </div>
                    <!-- </div> -->
                  </template>

                  <div class="field">
                    <div class="flex justify-between items-center">
                      <q-item-label
                        class="label key_result q-mb-sm"
                        onboarding-text-primary
                        >Task Name<span class="validation-red"
                          >*</span
                        ></q-item-label
                      >
                    </div>

                    <q-input
                      dense
                      borderless
                      v-model="task.task_name"
                      placeholder="Account type"
                      :rules="[(val) => (val !== null && val !== '') || '']"
                      hide-bottom-space
                      class="onboarding-border-accent-0 onboarding-border-radius-10 border-color q-pl-md"
                    />
                  </div>

                  <div class="flex justify-between items-center q-mt-md">
                    <q-item-label class="label key_result q-mb-sm"
                      >Time
                    </q-item-label>
                  </div>
                  <q-input
                    dense
                    borderless
                    placeholder="00:00"
                    v-model="task.time"
                    @focus="setTimePopup(index)"
                    :rules="[(val) => (val !== null && val !== '') || '']"
                    hide-bottom-space
                    class="onboarding-border-accent-0 onboarding-border-radius-10 border-color q-pl-md"
                  >
                    <template v-slot:append>
                      <q-icon
                        name="access_time_filled"
                        class="clock-icon text-black"
                      >
                      </q-icon>
                    </template>
                  </q-input>
                </q-expansion-item>
              </div>

              <q-time
                v-if="onTimePopup === index"
                v-model="task.time"
                text-color="black"
                class="onboarding-border-accent-0 onboarding-border-radius-15"
                bordered
                mask="hh:mm A"
                style="margin-top: 8px"
              >
                <div class="row items-center q-gutter-xl justify-end q-mr-lg">
                  <q-btn
                    rounded
                    dense
                    v-close-popup
                    label="Close"
                    no-caps
                    class="text-black onboarding-bg-secondary q-px-lg"
                    flat
                    @click.stop="onTimePopup = false"
                  />

                  <q-btn
                    rounded
                    dense
                    flat
                    no-caps
                    label="Save"
                    @click.stop="onTimePopup = false"
                    class="onboarding-border-accent-0 text-white onboarding-bg-accent-0 q-px-md"
                  />
                </div>
              </q-time>
            </div>

            <!-- THIS IS CREATE NEW TASK BTN -->
            <div
              style="border: 1px dashed #249990"
              class="onboarding-border-radius-15 flex justify-center standard-form-width q-my-sm q-pa-md"
            >
              <q-btn
                round
                dense
                flat
                no-caps
                icon="add"
                id="generateKeyInput"
                @click="addTodo(index, 1)"
                class="onboarding-border-accent-0 text-white onboarding-bg-accent-0 q-px-xl"
              />
            </div>

            <!-- THIS IS SAVE AND CANCEL BTN OF CREATING NEW TASK -->
            <div class="q-mt-sm q-gutter-md q-mb-lg">
              <q-btn
                @click="$router.go(-1)"
                rounded
                dense
                no-caps
                flat
                label="Cancel"
                class="onboarding-border-accent-0 onboarding-bg-hover-accent-0 q-px-xl"
              />

              <q-btn
                type="submit"
                rounded
                dense
                flat
                no-caps
                label="Save"
                class="onboarding-border-accent-0 text-white onboarding-bg-accent-0 q-px-xl"
              />
            </div>
          </q-form>
        </div>
      </div>
      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
    </div>
  </transition>
</template>
<!-- CSS IMPORT FILE -->
<style lang="scss" scope>
@import url("./styles/TodoList.scss");
</style>
<!-- JS IMPORT FIME -->
<script src="./scripts/CreateTodoList.js"></script>
