<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="todoList">
      <div class="q-px-lg q-pt-lg gt-xs" v-if="!pageLoadingState">
        <div class="flex justify-between q-mt-sm q-mb-lg">
          <h5 class="text-26 text-semibold q-my-none text-teal-6">
            To-Do List
          </h5>

          <div class="flex justify-end q-mb-md gt-xs">
            <q-btn
              flat
              rounded
              no-caps
              dense
              class="color-teal"
              @click="$router.push({ name: 'create-todo' })"
              label="Create task"
            />
          </div>
        </div>
        <div class="flex justify-between q-mb-md gt-xs">
          <div>
            <Filters
              :searchVisible="true"
              :selectVisible="false"
              :filterDateVisible="false"
              pathEndPoint="todoList"
            />
          </div>
        </div>
      </div>
      <!-- TABLE OF TO DO LIST -->
      <div class="todo-list row q-pt-lg q-pl-lg">
        <div class="col-6">
          <div
            class="in-progress bg-teal-6 text-center text-white text-bold q-pt-xs"
          >
            In-Progress
          </div>
          <div
            class="col list-progress q-pa-md onboarding-border-accent-0 q-mr-md border-color todo-list-card"
            style="margin-bottom: 10px"
            v-for="(todo, index) in todoList"
            :key="index"
          >
            <q-expansion-item
              expand-icon-toggle
              expand-separator
              :label="todo.task_title"
            >
              <template v-slot:header="{ expanded }">
                <q-item-section
                  v-if="!expanded"
                  class="text-semibold text-teal-6"
                >
                  {{ todo.task_title }}
                </q-item-section>
                <q-item-section
                  v-if="!expanded"
                  side
                  class="text-teal-6 text-semibold"
                >
                  {{ todo.date }}
                </q-item-section>

                <q-item-section v-else class="text-teal-6 text-semibold">
                  {{ todo.task_title }}
                </q-item-section>

                <q-item-section v-if="expanded" side @click.stop>
                  <q-btn
                    flat
                    round
                    icon="more_horiz"
                    color="black"
                    @click="toggleMenu(index)"
                  >
                    <q-menu
                      v-model="showMenu[index]"
                      auto-close
                      anchor="bottom right"
                      self="top right"
                      style="width: 11%"
                      class="onboarding-border-accent-0"
                    >
                      <div class="edit">
                        <q-item
                          class="select-list"
                          clickable
                          v-close-popup
                          @click="updateTodo()"
                        >
                          <q-item-section>Edit</q-item-section>
                        </q-item>
                      </div>
                      <div class="delete">
                        <q-item
                          class="select-list"
                          clickable
                          v-close-popup
                          @click="showDeleteDialog"
                        >
                          <q-item-section>Delete</q-item-section>
                        </q-item>
                      </div>
                    </q-menu>
                  </q-btn>
                </q-item-section>
              </template>

              <q-card>
                <q-card-section class="q-pa-none todo-list-card">
                  <q-list>
                    <q-item
                      class="q-py-none"
                      v-for="(task, keyIndex) in todo.tasks"
                      :key="keyIndex"
                    >
                      <q-item-section>
                        <q-checkbox
                          v-model="task.checkbox"
                          :label="task.task_name"
                        />
                      </q-item-section>
                      <q-item-section>{{ task.time }}</q-item-section>
                    </q-item>
                  </q-list>

                  <div
                    class="text-right onboarding-text-accent-0 text-semibold text-teal"
                  >
                    {{ todo.date }}
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
        <div class="col-6">
          <div
            class="in-progress bg-teal-6 text-center text-white text-bold q-pt-xs"
          >
            Done
          </div>
          <template v-for="(todo, index) in doneList" :key="index">
            <div
              class="col list-progress q-pa-md onboarding-border-accent-0 q-mr-md border-color todo-list-card"
              style="margin-bottom: 10px"
            >
              <q-expansion-item
                expand-icon-toggle
                expand-separator
                :label="todo.task_title"
              >
                <template v-slot:header="{ expanded }">
                  <q-item-section
                    v-if="!expanded"
                    class="text-semibold text-teal-6"
                  >
                    {{ todo.task_title }}
                  </q-item-section>
                  <q-item-section
                    v-if="!expanded"
                    side
                    class="text-teal-6 text-semibold"
                  >
                    {{ todo.date }}
                  </q-item-section>
                  <q-item-section v-else class="text-teal-6 text-semibold">
                    {{ todo.task_title }}
                  </q-item-section>
                </template>

                <!-- Q-CARD AND Q-CAR-SECTION -->
                <q-card>
                  <q-card-section class="q-pa-none todo-list-card">
                    <div>
                      <q-list>
                        <q-item
                          class="q-py-none"
                          v-for="(task, keyIndex) in todo.tasks"
                          :key="keyIndex"
                        >
                          <q-item-section>
                            <q-checkbox
                              v-model="task.checkbox"
                              :label="task.task_name"
                              color="teal"
                            />
                          </q-item-section>

                          <q-item-section>{{ task.time }}</q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div class="text-right text-teal text-semibold">
                      {{ todo.date }}
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </template>
        </div>
      </div>
      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
    </div>
  </transition>
  <MainDialog :content="$options.components.DeleteModal" />
</template>

<script src="./scripts/TodoList.js"></script>

<style lang="scss" scope>
@import url("./styles/TodoList.scss");
// @import url("/src/css/components/OKRSExpansion.scss");
</style>
