<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="onboarding-text-primary">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div
            class="flex justifty-start itempt-center onboarding-text-accent-0 q-mt-sm q-mb-lg z gt-xs"
          >
            <q-btn
              color="black"
              @click="$router.go(-1)"
              round
              dense
              flat
              icon="arrow_back"
            />
            <h5 class="text-26 text-teal-6 text-semibold q-my-none q-ml-sm">
              Update To-Do List
            </h5>
          </div>
          <q-form greedy @submit="updateTodo()">
            <div class="q-mt-md">
              <label class=""
                >Task Title <span class="validation-red">*</span></label
              >
              <q-input
                dense
                borderless
                v-model="selectedItem.task_title"
                placeholder="selectedItem.task_title ? selectedItem.task_title : 'Task Title'"
                :rules="[(val) => (val !== null && val !== '') || '']"
                hide-bottom-space
                class="onboarding-input-field standard onboarding-border-accent-0 onboarding-border-radius-10 q-mt-sm border-color"
              />
            </div>

            <div v-for="(keyResult, index) in selectedItem.tasks" :key="index">
              <div
                class="onboarding-border-accent-0 onboarding-border-radius-15 q-px-md q-py-lg q-mt-md standard-form-width border-color"
              >
                <div class="field">
                  <div class="flex justify-between items-center">
                    <q-item-label class="label key_result q-mb-sm">
                      Task Name <span class="validation-red">*</span>
                    </q-item-label>

                    <div v-if="selectedItem.tasks.length > 1 && index !== 0">
                      <q-btn
                        flat
                        class="delete_button text-teal onboarding-button q-pa-none q-mb-md"
                        size="12px"
                        icon="iconfont icon-delete-fill"
                        title="Delete"
                        clickable
                      />
                    </div>
                  </div>

                  <q-input
                    v-model="keyResult.task_name"
                    dense
                    borderless
                    placeholder="Task Name"
                    :rules="[(val) => (val !== null && val !== '') || '']"
                    hide-bottom-space
                    class="onboarding-border-accent-0 onboarding-border-radius-10 border-color q-pl-md"
                  />
                </div>

                <div class="flex justify-between items-center q-mt-md">
                  <q-item-label
                    class="label key_result text-weight-small q-mb-sm"
                    >Time
                  </q-item-label>
                </div>
                <q-input
                  dense
                  borderless
                  placeholder="00:00"
                  v-model="keyResult.time"
                  @focus="onFocusTimePicker = index"
                  :rules="[(val) => (val !== null && val !== '') || '']"
                  hide-bottom-space
                  class="onboarding-border-accent-0 onboarding-border-radius-10 border-color q-pl-md"
                >
                  <template v-slot:append>
                    <q-icon
                      name="access_time_filled"
                      class="clock-icon text-black"
                    >
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <q-time
                v-if="onFocusTimePicker === index"
                v-model="keyResult.time"
                text-color="black"
                bordered
                mask="hh:mm A"
                style="margin-top: 8px"
                class="onboarding-border-accent-0 onboarding-border-radius-15"
              >
                <div class="row items-center justify-end">
                  <q-btn
                    v-close-popup
                    label="Close"
                    color="teal-6"
                    flat
                    @click.stop="onFocusTimePicker = false"
                  />
                </div>
              </q-time>
            </div>

            <div
              style="border: 1px dashed #249990"
              class="onboarding-border-radius-15 flex justify-center standard-form-width q-my-sm q-pa-md"
            >
              <q-btn
                round
                dense
                flat
                no-caps
                icon="add"
                id="generateKeyInput"
                @click="addKeyResult()"
                class="onboarding-border-accent-0 text-white onboarding-bg-accent-0 q-px-xl"
              />
            </div>
            <br />
            <q-btn
              type="submit"
              rounded
              dense
              flat
              no-caps
              label="Save"
              class="onboarding-border-accent-0 text-white onboarding-bg-accent-0 q-px-xl q-mb-xl"
            />
          </q-form>
        </div>
      </div>
      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
    </div>
  </transition>
  <MainDialog :content="$options.components.DeleteModal" />
</template>

<style lang="scss" scope>
@import url("./styles/TodoList.scss");
</style>

<script src="./scripts/UpdateTodoList.js"></script>
