<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="table-list">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div class="flex justify-between q-mt-sm q-mb-lg">
            <h5
              class="text-26 text-semibold q-my-none onboarding-text-accent-0"
            >
              Student List
            </h5>
            <!-- THIS IS THE SEARCH FILTER AND THE BTN IN TOP RIGHT SIDE  -->
            <div class="flex justify-end">
              <Filters
                dynamicHeight="34"
                :searchVisible="true"
                :selectVisible="false"
                :labelVisible="false"
                :filterDateVisible="false"
                pathEndPoint="todoList"
              />
              <q-btn
                flat
                rounded
                no-caps
                dense
                class="onboarding-border-accent-0 onboarding-bg-accent-0 text-white q-px-xl q-ml-md"
                @click="$router.push({ name: 'add-table-list' })"
                label="Add student"
              />
            </div>
          </div>
          <!-- Filter and Pagination -->
          <div class="flex justify-between q-mb-md gt-xs">
            <div>
              <Filters :selectVisible="true" pathEndPoint="todoList" />
            </div>
            <div class="flex itempt-center">
              <div
                class="text-14 onboarding-text-accent-1 q-mr-md"
                :class="$q.screen.width < 767 && 'hidden'"
              ></div>
              <Pagination
                v-model:pagination="pagination"
                :numRows="GetTableList"
              />
            </div>
          </div>
        </div>
        <!-- STARTER VIEW OF TABLE  -->
        <!-- THIS IS THE LIST OF STUDENT IN TABLE OF WEBSITE-->
        <div class="onboarding-main-scroll table-scroll">
          <q-table
            :rows="GetTableList"
            :columns="columns"
            v-model:pagination="pagination"
            row-key="id"
            class="onboarding-table gt-xs"
            @row-click="onRowClick"
            flat
            bordered
          >
            <template v-slot:body-cell-gradelvl_type="props">
              <!--GRADE LEVEL DISPLAY IN TABLE -->
              <q-td :props="props">
                {{ gradelvlOptions[props.row.gradelvl_type - 1] }}
              </q-td>
            </template>

            <template v-slot:body-cell-status_type="props">
              <!--GRADE LEVEL DISPLAY IN TABLE -->
              <q-td :props="props">
                {{ statusOptions[props.row.status_type - 1] }}
              </q-td>
            </template>

            <template v-slot:body-cell-action="props">
              <q-td :props="props">
                <div class="table-menu">
                  <q-btn
                    icon="more_vert"
                    class="onboarding-text-primary onboarding-text-hover-accent-1"
                    flat
                    round
                    dense
                    @click.stop
                  >
                    <q-menu
                      class="onboarding-border-accent-0"
                      anchor="bottom right"
                      self="top right"
                      style="width: 10%"
                    >
                      <q-list>
                        <div class="edit-list">
                          <q-item
                            clickable
                            @click="editORNumber(props.row)"
                            v-close-popup
                            class="menu-list"
                          >
                            <q-item-section>Edit</q-item-section>
                          </q-item>
                        </div>
                        <div class="delete-list">
                          <q-item
                            clickable
                            v-close-popup
                            class="menu-list"
                            @click="deleteORNumber(props.row.id)"
                          >
                            <q-item-section>Delete</q-item-section>
                          </q-item>
                        </div>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </q-td>
            </template>

            <template v-if="!GetTableList.length" v-slot:bottom-row>
              <q-tr>
                <q-td colspan="100%" class="text-center">
                  No Data Available
                </q-td>
              </q-tr>
            </template>
            <!-- END OF WEBSITE VIEW ALSO THE TABLE IN STUDENT VIEW -->
          </q-table>
        </div>
        <!-- THIS IS THE LIST FOR MOBILE APPLICATION IN TODO LIST -->
        <!-- START THIS AREA FOR MOBILE VIEW -->
        <div class="show-on-mobile q-pa-lg">
          <!-- <div v-if="orNUmberList.length">
            <div v-for="user in orNUmberList" :key="user.id">
              <UserCard @deleteUser="deleteUser(user)" :user="user" />
            </div>
          </div>
          <div v-else class="full-width text-center">No Data Available.</div> -->
          <div class="fixed-bottom q-mb-lg q-mx-xl">
            <q-btn
              rounded
              dense
              flat
              no-caps
              label="Add student"
              to="new-table-list"
              class="onboarding-buttononboarding-border-accent-0 onboarding-bg-accent-0 q-px-xl q-mt-xl"
            />
          </div>
        </div>
        <!-- END FOR MOBILE VIEW -->
      </div>

      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
      <MobileFilter :searchVisible="true" />
      <MainDialog :content="$options.components.DeleteTable" />
    </div>
  </transition>
</template>

<script src="./scripts/TableORNumbers.js"></script>

<style lang="scss" scope>
@import url("./styles/TodoListTable.scss");
// @import url("/src/css/components/OKRSExpansion.scss");
</style>
