<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="or-numbers">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div
            class="flex justifty-start itempt-center onboarding-text-accent-0 q-mt-sm q-mb-lg z gt-xs"
          >
            <q-btn
              @click="$router.go(-1)"
              round
              dense
              flat
              color="black"
              icon="arrow_back"
            />
            <h5 class="text-26 text-semibold q-my-none q-ml-sm">
              Student Details
            </h5>
          </div>

          <q-separator class="q-my-md" />
          <div class="q-px-md q-py-md">
            <p class="text-20">Full Name : {{ dataDetails.f_name }}</p>
            <p class="text-20">
              Gradelevel Type : {{ dataDetails.gradelvl_type }}
            </p>
            <p class="text-20">Strand : {{ dataDetails.strand_name }}</p>
            <p class="text-20">Section : {{ dataDetails.section_name }}</p>
            <p class="text-20">Contact : {{ dataDetails.contact_number }}</p>
            <p class="text-20">Date Added : {{ dataDetails.date }}</p>
            <p class="text-20">Address : {{ dataDetails.address }}</p>
            <p class="text-20">Status : {{ dataDetails.status_type }}</p>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script src="./scripts/ViewTableList.js"></script>

<style lang="scss">
@import url("./styles/TodoListTable.scss");
</style>
