@import "../onboarding.quasar.variables.scss";
.main-menu {
  border-top: 15px;
  border-left: 15px;
  border-right: 15px;
  position: relative;
  @media screen and (max-width: 1024px) {
    height: calc(100vh - 238px);
  }

  .onboarding-menu-scroll {
    overflow-y: scroll;
    height: calc(100vh - 290px);
    @media screen and (min-width: 1024px) {
      height: calc(100vh - 190px);
    }
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      transition-delay: 0.5s;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: #b8b8b8;
      }
    }
  }

  .list-icon {
    size: 13.6px;
    // color: #5a5a5a;
    text-align: left;
    color: #008080;
  }

  // .sample:hover {
  //   color: white;
  // }

  .list-text {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #5a5a5a;
    line-height: 35.8px;
  }
  .list-text:hover {
    color: #008080;
  }
  .logout-item {
    border-top: 1px solid lightgray;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
