<template>
  <!-- START OF MENU TABLE -->

  <div class="main-menu q-mt-md">
    <div class="onboarding-menu-scroll">
      <q-list>
        <!-- OR NUMBERS -->
        <!-- <q-item clickable replace v-ripple :to="{ name: 'or-numbers' }">
          <q-item-section avatar class="margin-left-10">
            <q-icon
              name="iconfont icon-user-management-fill"
              class="list-icon"
            />
          </q-item-section>
          <q-item-section class="list-text">O.R. Numbers</q-item-section>
        </q-item> -->

        <!-- TO DO LIST -->
        <q-item
          clickable
          v-ripple
          :to="{ name: 'todo-list' }"
          replace
          class="list"
        >
          <q-item-section avatar class="margin-left-10">
            <q-icon
              class="iconfont icon-task-list-fill q-icon list-icon"
              aria-hidden="true"
              role="presentation"
            />
          </q-item-section>
          <q-item-section class="list-text">To-do List</q-item-section>
        </q-item>

        <!-- THIS STUDENT LIST TABLE -->
        <q-item
          clickable
          v-ripple
          :to="{ name: 'table-list' }"
          replace
          class="list"
        >
          <q-item-section avatar class="margin-left-10">
            <q-iconl
              class="iconfont icon-user-management-fill q-icon list-icon"
              aria-hidden="true"
              role="presentation"
            />
          </q-item-section>
          <q-item-section class="list-text">Student</q-item-section>
        </q-item>

        <!-- THIS SERVICE MANAGEMENT FOR Q-CARD -->
        <q-item
          clickable
          v-ripple
          :to="{ name: 'service-list' }"
          replace
          class="list"
        >
          <q-item-section avatar class="margin-left-10">
            <q-icon
              class="iconfont icon-user-management-fill q-icon list-icon"
              aria-hidden="true"
              role="presentation"
            />
          </q-item-section>
          <q-item-section class="list-text">Service Management</q-item-section>
        </q-item>
      </q-list>
      <div class="absolute-bottom">
        <q-list>
          <q-item class="logout-item" clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="logout" class="list-icon" />
            </q-item-section>
            <q-item-section class="list-text onboarding-text-primary"
              >Logout</q-item-section
            >
          </q-item>
        </q-list>
      </div>
    </div>
  </div>

  <!-- END OF MENU -->
</template>

<script>
import { ref, computed } from "vue";
export default {
  setup() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
//IMPORTING SCSS STYLE
@import "../css/components/MainMenu.scss";
</style>
