.todo-list {
  // padding: 30px;
  .in-progress {
    height: 33px;
    width: 122px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .list-progress {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.color-teal {
  position: absolute;
  width: 146px;
  height: 32px;
  background-color: #249990;
  color: white;
}
.todoList .flex.items-center .text-26 {
  margin-top: 8px;
}
.todo-list-card {
  border-color: grey;
  background: #f5f5f5;
}

.border-color {
  border-color: #249990;
}

.size {
  font-size: 10px;
}

.bordercolor {
  border: 2px solid #249990;
  align-content: center;
}
.edit {
  margin-top: 10px;
}
.delete {
  margin-bottom: 10px;
}

.select-list:hover {
  background-color: #249990;
  color: white;
}

.validation-red {
  color: red;
  margin-left: 1px;
}

.clock-icon {
  margin-right: 10px;
}

.q-time__header {
  font-weight: 900;
}

.q-time__clock-pointer {
  color: teal;
}

.q-time__clock-position {
  font-weight: bold;
  color: teal;
}

.q-time__container-child {
  background: white;
  border: 1px solid teal;
}
// .expansion-icon {
// }
.q-item__section--side > .q-icon {
  color: teal;
}
