<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="table-list">
      <div v-if="!pageLoadingState">
        <div class="q-px-lg q-pt-lg gt-xs">
          <div class="flex justify-between q-mt-sm q-mb-sm">
            <h5
              class="text-26 text-semibold q-my-none onboarding-text-accent-3"
            >
              Service Management
            </h5>
            <!-- THIS IS   THE BTN IN TOP RIGHT SIDE  -->
            <div class="flex justify-end">
              <q-btn
                flat
                rounded
                no-caps
                dense
                class="onboarding-border-accent-2 onboarding-bg-accent-2 text-white q-px-xl q-ml-md"
                @click="$router.push({ name: 'add-table-list' })"
                label="Add new service"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- end of refresh -->

      <!-- THIS THE Q-CARD FOR SERVICE -->
      <div class="row q-pr-xl q-pb-xl">
        <div class="q-pa-lg col-3">
          <q-card
            class="my-card onboarding-border-accent-3 border-color todo-list-card"
            expand-separator
          >
            <!-- Icon and Button -->
            <q-card-section class="flex justify-between">
              <q-icon
                class="iconfont q-icon list-icon"
                name="icon-home-fill"
                size="60px"
              >
              </q-icon>
              <q-btn
                flat
                rounded
                dense
                icon="more_vert"
                color="black"
                size="11px"
                @click="toggleMenu(index)"
              >
                <q-menu
                  class="onboarding-border-accent-3"
                  auto-close
                  anchor="top left"
                  self="top right"
                  style="width: 10%"
                >
                  <div class="edit">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="updateTodo()"
                    >
                      <q-item-section>Edit</q-item-section>
                    </q-item>
                  </div>
                  <div class="delete">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="showDeleteDialog"
                    >
                      <q-item-section>Delete</q-item-section>
                    </q-item>
                  </div>
                </q-menu>
              </q-btn>
            </q-card-section>

            <!--     Text Section       -->
            <q-card-section>
              <div class="text-h5 text-weight-bolder q-ml-sm q-mb-sm">
                General Fund
              </div>
              <div class="text-subtitle3 q-ml-sm">Date:</div>
              <div class="text-subtitle3 q-ml-sm q-mb-xl">Amount:</div>
            </q-card-section>

            <q-card-section> </q-card-section>
          </q-card>
        </div>
        <!-- </div> -->
        <div class="q-pa-lg col-3">
          <q-card
            class="my-card onboarding-border-accent-3 border-color todo-list-card"
            expand-separator
          >
            <!-- Icon and Button -->
            <q-card-section class="flex justify-between">
              <q-icon
                class="iconfont q-icon list-icon"
                name="icon-home-fill"
                size="60px"
              >
              </q-icon>
              <q-btn
                flat
                rounded
                dense
                icon="more_vert"
                color="black"
                size="11px"
                @click="toggleMenu(index)"
              >
                <q-menu
                  class="onboarding-border-accent-3"
                  auto-close
                  anchor="top left"
                  self="top right"
                  style="width: 10%"
                >
                  <div class="edit">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="updateTodo()"
                    >
                      <q-item-section>Edit</q-item-section>
                    </q-item>
                  </div>
                  <div class="delete">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="showDeleteDialog"
                    >
                      <q-item-section>Delete</q-item-section>
                    </q-item>
                  </div>
                </q-menu>
              </q-btn>
            </q-card-section>

            <!--     Text Section       -->
            <q-card-section>
              <div class="text-h5 text-weight-bolder q-ml-sm q-mb-sm">
                General Fund
              </div>
              <div class="text-subtitle3 q-ml-sm">Date:</div>
              <div class="text-subtitle3 q-ml-sm q-mb-xl">Amount:</div>
            </q-card-section>

            <q-card-section> </q-card-section>
          </q-card>
        </div>
        <!-- </div> -->
        <div class="q-pa-lg col-3">
          <q-card
            class="my-card onboarding-border-accent-3 border-color todo-list-card"
            expand-separator
          >
            <!-- Icon and Button -->
            <q-card-section class="flex justify-between">
              <q-icon
                class="iconfont q-icon list-icon"
                name="icon-home-fill"
                size="60px"
              >
              </q-icon>
              <q-btn
                flat
                rounded
                dense
                icon="more_vert"
                color="black"
                size="11px"
                @click="toggleMenu(index)"
              >
                <q-menu
                  class="onboarding-border-accent-3"
                  auto-close
                  anchor="top left"
                  self="top right"
                  style="width: 10%"
                >
                  <div class="edit">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="updateTodo()"
                    >
                      <q-item-section>Edit</q-item-section>
                    </q-item>
                  </div>
                  <div class="delete">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="showDeleteDialog"
                    >
                      <q-item-section>Delete</q-item-section>
                    </q-item>
                  </div>
                </q-menu>
              </q-btn>
            </q-card-section>

            <!--     Text Section       -->
            <q-card-section>
              <div class="text-h5 text-weight-bolder q-ml-sm q-mb-sm">
                General Fund
              </div>
              <div class="text-subtitle3 q-ml-sm">Date:</div>
              <div class="text-subtitle3 q-ml-sm q-mb-xl">Amount:</div>
            </q-card-section>

            <q-card-section> </q-card-section>
          </q-card>
        </div>
        <!-- </div> -->
        <div class="q-pa-lg col-3">
          <q-card
            class="my-card onboarding-border-accent-3 border-color todo-list-card"
            expand-separator
          >
            <!-- Icon and Button -->
            <q-card-section class="flex justify-between">
              <q-icon
                class="iconfont q-icon list-icon"
                name="icon-home-fill"
                size="60px"
              >
              </q-icon>
              <q-btn
                flat
                rounded
                dense
                icon="more_vert"
                color="black"
                size="11px"
                @click="toggleMenu(index)"
              >
                <q-menu
                  class="onboarding-border-accent-3"
                  auto-close
                  anchor="top left"
                  self="top right"
                  style="width: 10%"
                >
                  <div class="edit">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="updateTodo()"
                    >
                      <q-item-section>Edit</q-item-section>
                    </q-item>
                  </div>
                  <div class="delete">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="showDeleteDialog"
                    >
                      <q-item-section>Delete</q-item-section>
                    </q-item>
                  </div>
                </q-menu>
              </q-btn>
            </q-card-section>

            <!--     Text Section       -->
            <q-card-section>
              <div class="text-h5 text-weight-bolder q-ml-sm q-mb-sm">
                General Fund
              </div>
              <div class="text-subtitle3 q-ml-sm">Date:</div>
              <div class="text-subtitle3 q-ml-sm q-mb-xl">Amount:</div>
            </q-card-section>

            <q-card-section> </q-card-section>
          </q-card>
        </div>
        <!-- </div> -->
        <div class="q-pa-lg col-3">
          <q-card
            class="my-card onboarding-border-accent-3 border-color todo-list-card"
            expand-separator
          >
            <!-- Icon and Button -->
            <q-card-section class="flex justify-between">
              <q-icon
                class="iconfont q-icon list-icon"
                name="icon-home-fill"
                size="60px"
              >
              </q-icon>
              <q-btn
                flat
                rounded
                dense
                icon="more_vert"
                color="black"
                size="11px"
                @click="toggleMenu(index)"
              >
                <q-menu
                  class="onboarding-border-accent-3"
                  auto-close
                  anchor="top left"
                  self="top right"
                  style="width: 10%"
                >
                  <div class="edit">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="updateTodo()"
                    >
                      <q-item-section>Edit</q-item-section>
                    </q-item>
                  </div>
                  <div class="delete">
                    <q-item
                      class="select-list"
                      clickable
                      v-close-popup
                      @click="showDeleteDialog"
                    >
                      <q-item-section>Delete</q-item-section>
                    </q-item>
                  </div>
                </q-menu>
              </q-btn>
            </q-card-section>

            <!--     Text Section       -->
            <q-card-section>
              <div class="text-h5 text-weight-bolder q-ml-sm q-mb-sm">
                General Fund
              </div>
              <div class="text-subtitle3 q-ml-sm">Date:</div>
              <div class="text-subtitle3 q-ml-sm q-mb-xl">Amount:</div>
            </q-card-section>

            <q-card-section> </q-card-section>
          </q-card>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </transition>
</template>

<script src="./scripts/ORService.js"></script>

<style lang="scss">
@import "./styles/ORService.scss";
</style>
